.playwright-mcp
tests/screenshots
thoughts/ledgers

# Docker
.env
*.env.local
*.env.*.local
nul
mobile/AvtovokzalMobileApp/AvtovokzalMobileApp/bin/Debug
mobile/AvtovokzalMobileApp/AvtovokzalMobileApp/obj
mobile/AvtovokzalMobileApp/AvtovokzalMobileApp/obj
